
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Diego Lopez - Portfolio{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/particles.js/2.0.0/particles.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap" rel="stylesheet">

    {% block extra_css %}{% endblock %}
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <a href="{% url 'portfolio:home' %}" class="logo">DL</a>
            <ul class="nav-links">
                <li><a href="{% url 'portfolio:home' %}">Inicio</a></li>
                <li><a href="{% url 'portfolio:projects' %}">Proyectos</a></li>
                <li><a href="{% url 'dashboard:dashboard_home' %}">Dashboard</a></li>
            </ul>
        </div>
    </nav>

    {% block content %}
    {% endblock %}

    {% block extra_js %}{% endblock %}
</body>
</html>